<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-first</title>

    <link rel="stylesheet" href="<%= process.env.PUBLIC_URL %>/bower_components/bootstrap/dist/css/bootstrap.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= process.env.PUBLIC_URL %>/bower_components/AdminLTE/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="<%= process.env.PUBLIC_URL %>/bower_components/AdminLTE/dist/css/skins/_all-skins.min.css">
    <link rel="shortcut icon" href="<%= process.env.PUBLIC_URL %>/images/cas.ico" type="image/x-icon"/>

    <script src="<%= process.env.PUBLIC_URL %>/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="<%= process.env.PUBLIC_URL %>/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="<%= process.env.PUBLIC_URL %>/bower_components/AdminLTE/dist/js/app.min.js"></script>

  </head>
  <body class="hold-transition sidebar-mini skin-purple-light">
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
